form.admin-user-form submit="save"
	h2.title.title_open Основная информация
	.controls-pair
		label for="name" Метка
		= input .controls-pair__input_long name="name" type="text" value=group.name
		label for="title" Заголовок
		= input .controls-pair__input_long name="title" type="text" value=group.title
	.controls-pair
		label for="description" Описание курса
		= textarea .controls-pair__input_long name="description" type="text" value=group.description

	button.button.button_primary type="submit" Сохранить
	button.button click="back" Назад

