doctype 5
html(lang="en")
	head
		title= pageTitle
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		link(rel='stylesheet', type='text/css', href='/static/css/result.css')

		if env == 'test'
			script(data-main="/static/scripts/main.js", src='/static/scripts/libs/qunit/qunit.js')
			link(rel='stylesheet', type='text/css', href='/static/scripts/libs/qunit/qunit.css')
			script(data-main="/static/scripts/testStart.js", src='/static/scripts/libs/require.js')
		else
			if env == 'production'
				script(src='/static/scripts/libs/require.js')
				script(src='/static/scripts/main.js')
			else
				script(data-main="/static/scripts/main.js", src='/static/scripts/libs/require.js')

	body
		block main
			if env == 'test'
				div#qunit
				div#qunit-fixture

				div#ember-testing
			else
				script(type='text/x-emblem', data-template-name='application')
					| = outlet
					| = outlet "modal"
