.alert {
	margin-bottom:20px;
	border:1px solid transparent;
	border-radius:4px;
	padding:15px;
}
.alert h4 {
	margin-top:0;
	color:inherit;
}
.alert>p,.alert>ul {
	margin-bottom:0;
}
.alert>p+p {
	margin-top:5px;
}
.alert-dismissable {
	padding-right:35px;
}
.alert-dismissable .close {
	position:relative;
	top:-2px;
	right:-21px;
	color:inherit;
}
.alert-success {
	background-color:#dff0d8;
	color:#3c763d;
	border-color:#d6e9c6;
}
.alert-success hr {
	border-top-color:#c9e2b3;
}
.alert-success .alert-link {
	color:#2b542c;
}
.alert_info {
	background-color:#d9edf7;
	color:#31708f;
	border-color:#bce8f1;
}
.alert_info hr {
	border-top-color:#a6e1ec;
}
.alert_info .alert-link {
	color:#245269;
}
.alert-warning {
	background-color:#fcf8e3;
	color:#8a6d3b;
	border-color:#faebcc;
}
.alert-warning hr {
	border-top-color:#f7e1b5;
}
.alert-warning .alert-link {
	color:#66512c;
}
.alert-danger {
	background-color:#f2dede;
	color:#a94442;
	border-color:#ebccd1;
}
.alert-danger hr {
	border-top-color:#e4b9c0;
}
.alert-danger .alert-link {
	color:#843534;
}
.alert .alert-link {
	font-weight:700;
}
.alert_top {
	position: fixed;
	top: 0;
	left: 45%;
	width: 10%;
	z-index: 9999;
	text-align: center;
	border: none;
	border-radius: 8px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	opacity: 0.9;
	box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.15);
}
.alert_inline {
	display: inline-block;
	padding: 5px;
	margin: 7px 0;
}
.alert_small {
	font-size: 11px;
	margin: 5px 0;
	padding: 3px;
}