.auth-l {
	position: relative;
	min-height: 100%;
	background: @backgroundColor;
}
.login {
	position: absolute;
	left: 35%;
	top: 26%;
	min-height: 25em;
	width: 20%;
	padding: 2em 5em;
	background: white;
	box-shadow: 0 0 2px 2px #e0e2e6;
}
.login__tip {
	margin-top: 2em;
	font-size: 1.2em;
	color: #aeaeae;
}
.login__form__input {
	display: block;
	width: 100%;
	height: 2em;
	border: none;
	padding: 0.2em 0.2em 0.2em 0.5em;
	margin-bottom: 0.6em;
	color: #333;
	background: @backgroundColor;
	border-radius: 4px;
}
.login__form__input:focus {
	background: #bae7f5;
	background: #f3f3b7;
}
.login__form__submit-l {
	text-align: center;
	margin-top: 2em;
}
.login__form__submit {
	.button;
	.button_primary;
	font-size: 1.6em;
	padding: 0.4em 3em;
}
.login__form__error {
	margin-bottom: 0.6em;
	font-size: 1.4em;
	// text-align: center;
	height: 1.5em;
	color: rgb(202, 60, 60);
}
