/*

187893	295F6E	084C60	4BADC9	6DB5C9
Secondary Color A:
EDAF20	B28F3E	9A6F0A	F6C656	F6D381
Secondary Color B:
ED3C20	B24E3E	9A1E0A	F66C56	F69181
*/
@linkColor: #1cadd6;
@activeColor: #F69181;
@backgroundColor: #eceef1;

.group {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.link {
	text-decoration: none;
	color: @linkColor;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}
.link_big {
	font-size: 1.6em;
}
.link_white {
	color: #fff;
}
.link_red {
	color: #ED3C20;
}

.button {
	display: inline-block;
	padding: 0.46em 0.8em;
	margin: 0;
	font-size: 1.5em;
	background-color: #E6E6E6;
	color: #444;
	text-decoration: none;
	border: none;
	cursor: pointer;
	border-radius: 0.26em;
	&:hover {
		background-color: lighten(#E6E6E6, 5%);
	}
}
.button_slim {
	font-size: 12px;
	padding: 6px 8px;
}
.button_standarted {
	min-width: 60px;
}
.button:hover {
	background-color: lighten(#E6E6E6, 5%);
}
.button_primary {
	color: white;
	background-color: @linkColor;
	&:hover {
		background-color: lighten(#41b7d8, 5%);
	}
}
.button_success {
	color: white;
	background-color: #5cb85c;
	// border: none;
	&:hover {
		background-color: #47a447;
	}
}
/* .button_primary:hover { */
/* 	background-color: lighten(#41b7d8, 5%); */
/* } */
.title {
	font-size: 18px;
	color: #444;
	font-weight: normal;
}
.title_big {
	font-size: 24px;
}
.title_open {
	margin-bottom: 10px;
}
.controls-pair {
	font-size: 1.4em;
	margin-bottom: 0.71em;
	label {
		vertical-align: top;
		display: block;
		margin-right: 0.57em;
	}
	input {
		padding: 0.28em 0.57em 0.28em;
		display: inline-block;
		background: @backgroundColor;
		border: none;
		border-radius: 0.28em;
	}
	textarea {
		width: 40%;
		height: 20em;
		padding: 0.28em 0.57em 0.28em;
		display: block;
		background: @backgroundColor;
		border: none;
		border-radius: 0.28em;
	}
}
.controls-pair__input_long {
	width: 40%;
}
.left-part {
	float: left;
}
.right-part {
	float: right;
}
.subtitle {
	font-size: 11px;
	color: #8e8e8e;
}
.badge {
	font-size: 10px;
	padding: 3px 5px;
	font-weight: bold;
	display: inline-block;
	color: white;
}
.badge_green {
	background-color: #339900;
}
.badge_blue {
	background-color: #0099CC;
}
.badge_sand {
	background-color: #CC9933;
}

.vertical-link-list__item {
	border: 1px solid #E6E6E6;
	border-top: none;
	padding: 5px 10px;
}
.vertical-link-list__item_title {
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	border-top: 1px solid #E6E6E6;
	background-color: #f9f9f9;
}
.vertical-link-list__item__link {
	.link;
}
.breadcrumbs {
	font-size: 1.6em;
}
.breadcrumbs__delimiter {
	display: inline-block;
	margin: 0 8px;
	vertical-align: bottom;
}

.popup-shade {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.2)
}
.popup-window {
	position: fixed;
	top: 45%;
	left: 37.5%;
	width: 25%;
	padding: 1%;
	background: white;
}
.popup-window__header {
	margin-bottom: 5px;
	text-align: right;
	font-size: 16px;
	font-family: sans-serif;
}
.popup-window__text {
	margin-bottom: 7px;
	// margin-top: 12px;
}
.popup-window__header {
	position: relative;
	height: 26px;
}
.popup-window__close-button {
	position: absolute;
	top: 16px;
	right: 0;
	span {
		display: block;
		width: 15px;
		height: 3px;
		background: #1b98f8;
	}
	span:first-child {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	span:last-child {
		margin: -3px 0 0;
		-ms-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	&:hover > span {
		background: lighten(#1b98f8, 20%)
	}
}
.popup-window__buttons {
	.group;
}
.popup-window__buttons__item {
	float: right;
	margin-left: 7px;
}
.without-scrolling {
	overflow: hidden;
}
.centered {
	text-align: center;
}
.text-right {
	text-align: right;
}
.side-actions-bar {
	position: absolute;
	top: 0;
	right: 0;
}
.side-actions-bar__actions__item {
	display: inline-block;
	vertical-align: top;
	width: 4.5em;
	height: 4em;
}
.action-link {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.action-link_bookmark {
	background: url("../images/document/bookmark.png") center center no-repeat;
}
.action-link_edit {
	background: url("../images/document/edit.png") center center no-repeat;
}
.back-button {
	display: block;
	height: 2.39em;
	padding: 1.1em 0 0 1.45em;
	font-size: 1.8em;
	color: #aeaeae;
	cursor: pointer;
	&:hover {
		color: #6a6a6a;
		background: url("../images/common/back.png") left center no-repeat;
	}
	background: url("../images/common/backInactive.png") left center no-repeat;
}

@tooltipBackgroundColor: rgba(0, 0, 0, 0.7);
@tooltipFontColor: #ffffff;
.tooltip-wrap {
	position: relative;
}
.tooltip-wrap__tooltip {
	position: absolute;
	z-index: 10;
	background: @tooltipBackgroundColor;
	color: @tooltipFontColor;
	padding: 10px;
	min-width: 15em;
	border-radius: 5px;
	cursor: default;
	&::after {
		z-index: 10;
	}
}
.tooltip-wrap__tooltip_top {
	left: -1.1em;
	margin-bottom: 12px;
	&::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		bottom: -10px;
		left: 1.2em;
		border: 10px solid transparent;
		border-top-color: @tooltipBackgroundColor;
		border-bottom: none;
	}
}
.tooltip-wrap__tooltip_right {
	margin-left: 10px;
	&::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		top: 5px;
		left: -10px;
		border: 10px solid transparent;
		border-right-color: @tooltipBackgroundColor;
		border-left: none;
	}
}
.tooltip-wrap__tooltip_left {
	margin-right: 10px;
	&::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		top: 5px;
		right: -10px;
		border: 10px solid transparent;
		border-left-color: @tooltipBackgroundColor;
		border-right: none;
	}
}

