.course-card-l {
	margin-bottom: 4em;
	padding-bottom: 4em;
	padding-right: 5em;
	border-bottom: 0.4em solid lighten(#1b98f8, 26%);
}

.course-card__header {
	margin-bottom: 0.1em;
	font-weight: normal;
	font-size: 2.5em;
	a {
		color: #4a4a4a;
		text-decoration: none;
	}
}
.course__toolbox {
	margin: 2.5em 0;
}
.course__content {
	background: url('../images/common/line.png') 10px 0px no-repeat repeat,
	url('../images/common/line.png') 60px 0px no-repeat repeat;
	position: relative;
}
.course-card__authors {
	.group;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #cfcfcf;
}
.course-card__authors__item {
	float: left;
	margin-right: 0.5em;
	font-size: 1.4em;
}
.course-card__summary {
	margin-bottom: 1.2em;
	font-size: 1.4em;
	color: #aeaeae;
}
.course-card__summary__item {
	display: inline-block;
	margin-right: 1em;
}
.course-card__description {
	font-size: 1.6em;
	.markdown-preview;
}
.course-section {
	font-size: 1.5em;
	padding: 1em 0 1em 7em;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.section {
	font-size: 1.5em;
	padding: 0 0 1em 7em;
	position: relative;
	background: url('../images/common/line.png') 10px 0px no-repeat repeat,
	url('../images/common/line.png') 60px 0px no-repeat repeat;
}
.course-section__title-wrap {
	margin-bottom: 0.7em;
}

.subsection-card-l {
	vertical-align: top;
}

.subsection-link {
	padding-left: 2em;
}
.subsection-pin {
	position: absolute;
	border-radius: 100%;
	cursor: pointer;
	transition: 0.2s ease all;
	width: 18px;
	height: 18px;
	&:hover {
		width: 24px;
		height: 24px;
		margin-top: -3px;
	}
}
.subsection-pin__link {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.subsection-pin__order {
	position: absolute;
	left: -15px;
}
.subsection-pin_lab {
	background: #fff;
	left: 2px;
	border: 1px solid #000;
	&:hover {
		left: -1px;
	}
}
.subsection-pin_lab_completed {
	background: #000;
	border: none;
	width: 20px;
	height: 20px;
	&:hover {
		width: 26px;
		height: 26px;
	}
}
.subsection-pin_practice {
	background: #fff;
	width: 18px;
	height: 18px;
	left: 52px;
	border: 1px solid #000;
	&:hover {
		left: 49px;
	}
}
.subsection-pin_practice_completed {
	background: #000;
	border: none;
	width: 20px;
	height: 20px;
	&:hover {
		width: 26px;
		height: 26px;
	}
}

.subsection-card__header {
	margin-bottom: 0.86em;
	text-align: right;
}

.subsection-card__title {
	margin-bottom: 0.4em;
}

.subsection-card__title__link {
	color: @linkColor;
	text-decoration: none;
}

.subsection-card__title__link:hover {
	text-decoration: underline;
}

.subsection-card__description {
	margin-bottom: 10px;
}

.subsection {
	position: relative;
	padding-top: 4em;
}

.subsection__content {
	font-size: 1.6em;
	.markdown-preview;
	font-family: 'PT Serif', serif;
}
