@docHeaderHeight: 50px;
@docHeaderBorder: #e9e9e9;
@docHeaderBorderSize: 3px;

.document-l {
	height: 100%;
}
.document {
	position: relative;
	height: 100%;
}

.document__header {
	.group;
	height: @docHeaderHeight;
	border-bottom: @docHeaderBorderSize solid @linkColor;
}
.document__header__block {
	display: inline-block;
	margin-top: 0.6em;
	vertical-align: middle;
}
.document__header__block_back {
	font-size: 1.4em;
	margin-right: 30px;
	margin-left: 18px;
}
.document__header__block_versions {
	padding-right: 50px;
}
.document__header__block_title {
	padding-top: 5px;
	margin-bottom: 3px;
	margin-right: 20px;
}
.document-toolbox__actions-string__item {
	display: inline-block;
	width: 3.6em;
	height: 3.6em;
	&_save {
		background: url('../images/document/save.png') center center no-repeat;
	}
	&_undo {
		background: url('../images/document/undo.png') center center no-repeat;
	}
	&_redo {
		background: url('../images/document/redo.png') center center no-repeat;
	}
	&_bold {
		background: url('../images/document/bold.png') center center no-repeat;
	}
	&_italic {
		background: url('../images/document/italic.png') center center no-repeat;
	}
}
.document-toolbox__actions-string__item:hover {
	cursor: pointer;
	width: 34px;
	height: 34px;
	border: 1px solid #6a6a6a;
}

#document__editor {
	font-size: 14px;
	line-height: 22px;
	position: absolute;
	margin: 0px;
	left: 0px;
	right: 976px;
	top: @docHeaderHeight + @docHeaderBorderSize;
	bottom: 0px;
	height: 100%;
	z-index: 0;
	display: block;
	visibility: visible;
	font-family: Menlo, Consolas, 'Courier New', Courier, monospace;
}

.document__preview {
	position: absolute;
	overflow-y: auto;
	top: @docHeaderHeight + @docHeaderBorderSize;
	right: 0;
	font-size: 1.4em;
}

.versions-list {
}
.versions-list__header {
	// text-align: center;
	// margin-bottom: 5%;
	font-size: 14px;
	font-weight: normal;
}
.versions-list__item {
	font-size: 1.2em;
	margin-bottom: 5px;
	padding: 3px 10px;
	cursor: pointer;
	background: #efefef;
	&:hover {
		background: #fdfdfd;
	}
	.group;
}
.versions-list__item__part {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}
.versions-list__item__part__buttons {
	font-size: 0.7em;
}
.versions-list__item__part__buttons__item-l {
	display: inline-block;
	margin-right: 0.5em;
}
#document-editor {
	width: 100%;
	height: 100%;
}
.document-control-button {
	.button;
	.button_primary;
	width: 80%;
}

.versions-button {
	.button;
	.button_primary;
	width: 200px;
}
.versions__pop-up {
	position: absolute;
	top: 45px;
	right: 50px;
	width: 440px;
	// height: 500px;
	z-index: 9999;
}
.versions__pop-up__inner {
	margin-top: 20px;
	padding: 10px 15px;
	border: 3px solid @docHeaderBorder;
	background: white;
}
.arrow-up {
	position: absolute;
	top: 0;
	right: 75px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid @docHeaderBorder;
}
