/* @import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic|Open+Sans:400,600,400italic,600italic,700&subset=latin,cyrillic); */

html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}

.ember-app-wrap {
	height: 100%;
}

.main-layout-wrap {
	width: 100%;
	min-width: 100em;
	min-height: 100%;
	background: #eceef1;
}

.header {
	height: 7em;
	box-shadow: 0 2px 2px #e0e2e6;
	background: #ffffff;
	.group;
}

.header__logo {
	float: left;
	width: 9em;
	padding: 0.2em 0.5em 0.4em 0;
	font-size: 2.4em;
	line-height: 1.2;
	color: #fff;
	background: @linkColor;
	text-align: right;
	letter-spacing: normal;
	text-decoration: none;
	span {
		display: block;
	}
}
.header__content {
	margin-left: 22.8em;
	max-width: 89em;
	padding-left: 5em;
	vertical-align: top;
	.group;
}

.header__content_wide {
	max-width: none;
	padding-right: 3em;
}

.header__content__back-l {
	float: left;
}

.header__content__profile-l {
	float: right;
}

.header__content__profile-l:hover {
	background: #f7f7f7;
}

.main-layout {
	display: inline-block;
	height: 100%;
	margin-left: 22.8em;
	vertical-align: top;
	overflow: hidden;
}

.main-layout__content {
	position: relative;
	min-height: 100%;
	padding-bottom: 6em;
}

.main-layout__content__common-l {
	max-width: 85em;
	width: 85em;
	margin: 3em;
	margin-left: 0;
	padding: 4em 4em 4em 5em;
	background: #fff;
}

.main-layout__content__admin-l {
	.main-layout__content__common-l;
	max-width: 120em;
	max-width: none;
	padding: 4em 4em 15em 4em;
}

.main-layout__content__courses-l {
	.main-layout__content__common-l;
	max-width: 89em;
	padding: 4em 0 4em 5em;
}

.main-layout__content__subsection-l {
	.main-layout__content__common-l;
	max-width: 85em;
	width: 85em;
	position: relative;
	padding-top: 0;
}

.main-layout__content__document-l {
	.main-layout__content__common-l;
	max-width: none;
	padding-bottom: 10.5em;
	padding-top: 2em;
}

.main-layout__content__actions__item:hover {
	margin-right: -6.55em;
	width: 6.5em;
}


.footer {
	font-size: 1.2em;
	background: #fff;
	padding: 2.5em;
}
.subheader {
	background: #f7f7f7;
	padding-left: 26.8em;
}
.main-nav__item {
	display: inline-block;
}
.main-nav__item__link {
	display: block;
	padding: 1em 1.25em;
	font-weight: bold;
	color: #6a6a6a;
	text-decoration: none;
	cursor: pointer;
}
.main-nav__item__link:hover {
	color: white;
	background: #7bd2ea;
}
.main-nav__item__link_selected:hover {
	background: #1b98f8;
}
