.markdown-preview {
	color: #262626;
	h1 {
		margin-bottom: 0.57em;
		font-size: 1.57em;
		font-weight: normal;
	}
	h2 {
		margin-bottom: 0.42em;
		font-size: 1.42em;
		font-weight: normal;
	}
	h3 {
		margin-bottom: 0.28em;
		font-size: 1.28em;
		font-weight: normal;
	}
	p {
		margin-bottom: 0.71em;
		font-size: 1em;
		line-height: 1.5;
	}
	ul {
		margin-bottom: 0.71em;
		list-style: disc inside;
	}
	ol {
		margin-bottom: 0.71em;
		list-style: decimal inside;
	}
	blockquote {
		border-left: 4px solid #DDD;
		padding: 0 15px;
		color: #363636;
	}
}