.materials-l {
	padding: 0 15em 15em;
}
.materials__item {
	margin-bottom: 1.5em;
}
.materials__item__link {
	font-size: 1.6em;
	margin-bottom: 0.5em;
}
.materials__item__description {
	font-size: 1.2em;
}