@smallImageSize: 50px;
@bigImageSize: 150px;
.small-profile {
	.group;
	// background: #3A3C55;
	font-size: 1.4em;
	text-decoration: none;
	display: block;
	color: #777;
	padding: 10px;
	font-weight: bold;
}
a.small-profile:active {
	color: #444;
}
.small-profile:hover {
	color: #444;
}
.small-profile__image {
	float: left;
	width: @smallImageSize;
	height: @smallImageSize;
	background: #aaa;
	border-radius: 2px;
}
.small-profile__fullname {
	margin-left: @smallImageSize + 10px;
	padding: 6px 5px 3px;
}
.small-profile__controls__exit {
	margin-top: 6px;
}
.profile__header {
	.group;
	/* border-bottom: 1px solid #e6e6e6; */
	padding-bottom: 10px;
	font-size: 1.4em;
	color: #444;
}
.profile__header-fullname {
	float: left;
	max-width: 50%;
}
.profile__header-groups {
	float: right;
	max-width: 50%;
}
.profile__image {
	width: @bigImageSize;
	height: @bigImageSize;
	background: #aaa;
	border-radius: 5px;
}
.profile__logout {
	float: right;
}
.profile__content {
	.group;
	padding: 10px 0;
}
.profile__content-left {
	float: left;
}
.profile__content-right {
	float: left;
	padding-left: 10px;
}
.profile__fullname {
	font-size: 1.5em;
	/* font-weight: bold; */
}
.profile__maininfo:hover {
	/* background: #ccc; */
}
.profile-edit__input {
	display: block;
	width: 30em;
	height: 2em;
	border: none;
	padding: 0.2em 0.2em 0.2em 0.5em;
	margin-bottom: 0.6em;
	color: #333;
	background: @backgroundColor;
	border-radius: 4px;
}
