.main-layout__content__common-l
	.course
		.course-card
			if canEdit
				if isEditingTitle
					StudySystem.FocusedTextField name="title" type="text" focus-out="focusOutAction" insert-newline="focusOutAction" value=course.title
				else
					h3.course-card__header click="editTitle" = course.title
			else
				h3.course-card__header = course.title
			.course-card__authors
				each author in course.authors
					.course-card__authors__item
						linkTo .link "users.user" author.id | #{author.firstName} #{author.lastName}
			if canEdit
				if isEditingDescription
					StudySystem.FocusedTextArea name="description" type="text" focus-out="focusOutAction" value=course.description
				else
					.course-card__description click="editDescription" = course.description
			else
				.course-card__description = course.description
		.course__toolbox
			if course.materials.length
				linkTo .course-card__button.button.button_primary "course.materials" course.alias | Ссылки и материалы

		.course__content
			each section in course.sections
				.course-section
					.course-section__title-wrap
						h3.title
							linkTo .link "course.section" course.alias section.alias | #{section.title}
					StudySystem.SectionContentView classNames=".course-section__subsection" scourse=course section=section
		if canEdit
			if isAddingSection
				div
					div = input name="new-section-title" type="text" placeholder="Название" value=newSectionTitle
					div = input name="new-section-alias" type="text" placeholder="Псевдоним" value=newSectionAlias
					div = input name="new-section-duration" type="text" placeholder="Продолжительность" value=newSectionDuration
					// div = textarea name="new-section-description" type="text" placeholder="Описание" value=newSectionDescription
					button.button.button_primary click="addSection" Добавить
			else
				button.button click="showFormAddSection" Добавить раздел

