.main-layout__content__subsection-l
	.side-actions-bar
		.side-actions-bar__actions
			.side-actions-bar__actions__item
				linkTo .action-link.action-link_edit "course.section.subsection.edit" course.alias section.alias subsection.alias title="Редактировать документ" |
	.subsection
		.subsection__content
			== value
