.admin-layout {
	padding: 0 10em;
}
.admin-items__controls {
	margin-bottom: 15px;
	text-align: right;
}
.admin-items__controls__item {
	display: inline-block;
	margin-left: 10px;
}
.entities-table {
	font-size: 1.4em;
	width: 100%;
	td, th {
		padding: 0.35em 1.78em;
		border: 1px solid #dfdfdf;
	}
	th {
		color: #2a2a2a;
		background: lighten(#dfdfdf, 10%);
	}
}
