.tabs-view {
	width: 100%;
}
.tabs-view__pane {
	margin-bottom: 1em;
	border-bottom: 1px solid #cacaca;
}
.tabs-view__pane__item {
	display: inline-block;
	margin-right: 0.5em;
	padding: 0.5em 0.5em 0.4em;
	font-size: 1.4em;
	border-radius: 0.4em 0.4em 0 0;
	cursor: pointer;
	color: @linkColor;
	&_active {
		color: @activeColor;
		border: 1px solid #cacaca;
		border-bottom: 1px solid #fff;
	}
}

.tabs-view__item {
	display: none;
	&_active {
		display: block;
	}
}