if isNew
	h1.title.title_big Создание курса
else
	h1.title.title_big Редактирование курса &laquo;#{model.title}&raquo;

= log this
form.admin-course-form submit="save"
	tabs-view
		tabs-view-item title="Общая информация"
			/ h2.title.title_open Основная информация
			.controls-pair
				label for="name" Название курса
				= input .controls-pair__input_long name="name" type="text" value=model.title
			.controls-pair
				label for="alias"
					span Псевдоним для курса&nbsp;
					em (к примеру, siaod)
				= input .controls-pair__input_long name="alias" type="text" value=model.alias
			.controls-pair
				h3 Авторы
				StudySystem.CheckboxListView allItems=allUsers checkedItems=model.authors labelPath="fullName"
			.controls-pair
				label for="description" Описание курса
				= textarea .controls-pair__textarea name="description" value=model.description

			.controls-pair
				= input name="published" type="checkbox" checked=model.published
					| Опубликован

		tabs-view-item title="Управление разделами"
			.sections-control
				.sections-control__header
					button.button click="addSection" Добавить раздел
				.sections-control__items
					each section in model.sections
						.sections-control__items__item
							.controls-pair
								label for="section-name" Название
								= input .controls-pair__input_long name="section-name" type="text" value=section.title

							.controls-pair
								label for="section-alias"
									span Псевдоним для секции&nbsp;
									em (к примеру, understanding-monads)
								= input .controls-pair__input_long name="section-alias"	type="text" value=section.alias
							.controls-pair
								label for="section-duration" Продолжительность
								= input name="section-duration" type="text" value=section.duration

							.controls-pair
								= input name="section-published" type="checkbox" checked=section.published
									| Опубликован

							.controls-pair
								label for="section-description" Описание
								= textarea .controls-pair__input_long name="section-description" type="text" value=section.description

							h4.title Управление подразделами
							button.button click="addSubsection section" Добавить подраздел
							.sections-control__subsections-l
								each subsection in section.subsections
									.subsections-control__items__item
										.controls-pair
											label for="subsection-name" Название
											= input .controls-pair__input_long name="subsection-name" type="text" value=subsection.title

										.controls-pair
											label for="subsection-alias" Псевдоним
											= input .controls-pair__input_long name="subsection-alias" type="text" value=subsection.alias

										.controls-pair
											label for="subsection-type" Тип
											Ember.Select classNames="controls-pair__input_long" content=subsection.types value=subsection.type optionValuePath="content.type" optionLabelPath="content.title"

										.controls-pair
											label for="subsection-order" Номер
											= input name="subsection-order" type="text" value=subsection.order

										.controls-pair
											= input name="subsection-published" type="checkbox" checked=subsection.published
												| Опубликован

										.controls-pair
											label for="content"
												span Содержимое
												span &nbsp;
												if subsection.content.unconfirmedVersions
													span.alert_small.alert.alert_inline.alert_info Неподтвержденные изменения
											if subsection.content
												a.link click="goToDocument subsection.content" Редактировать содержимое
											else
												a.link click="createSubsectionContent subsection" Создать документ
										button.button click="removeSubsection section subsection" Удалить подраздел
							button.button click="removeSection section" Удалить раздел
		tabs-view-item title="Материалы"
			each material in model.materials
				.controls-pair
					label for="material-title" Заголовок
					= input .controls-pair__input_long name="material-title" type="text" value=material.title
				.controls-pair
					label for="material-link" Ссылка
					= input .controls-pair__input_long name="material-link" type="text" value=material.link
				.controls-pair
					label for="material-description" Описание
					= input .controls-pair__input_long name="material-description" type="text" value=material.description
				button.button.button_wraning click="removeMaterial material" Удалить материал
			button.button click="addMaterial" Добавить материал
	button.button.button_primary type="submit" click="save" Сохранить
	span &nbsp;
	button.button click="back" Назад

