modal-dialog action="closeModal"
	/ .popup-window__header
	/ 	a.popup-window__close-button href="javascript:void(0)" title="Закрыть окно" click="close target='view' bubbles=false"
	/ 		span
	/ 		span
	.popup-window__text
		== message
	.popup-window__buttons
		.popup-window__buttons__item
			button.button.button_primary.button_standarted click="close bubbles=false" #{buttonTitle}
