.main-layout__content__common-l
	.profile
		.profile__header
			.profile__header-fullname
				h2 #{fullName}
			.profile__header-groups
				each groups
					span #{name}
		.profile__content
			.profile__logout
				linkTo .button "logout" | Выход
			.profile__content-left
				.profile__image
					img id="originalId" src=""
				// StudySystem.UploadFileView name="image" file=image
			.profile__content-right 
				.profile__fullname #{fullName}
				if isMe
					linkTo .link "users.edit" id | Редактировать
